.cover__link {
  text-decoration: none;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 62.5%;
}
.cover__link::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s ;
}
.cover__link:hover::before  {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link{
    padding-bottom: 64%;
    width: 1004px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link{
    padding-bottom: 64%;
    width: 100%;
  }
}
