.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  grid-area: title;
  align-self: center;
  max-width: 460px;
}

@media screen and (max-width: 1030px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 328px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    margin: 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
