.page {
  color: #FFFFFF;
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 320px;
}

div {
  border: 1px solid red;
}

section {
  border: 1px solid blueviolet;
}

article {
  border: 1px solid blue;
}

header, footer {
  border: 1px solid cyan;
}

main {
  border: 1px solid forestgreen;
}
