.page {
  color: #fff;
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 340px) {
  .page {
    overflow-x: hidden;
  }
}
