.photo-grid {
  display: grid;
  max-width: 1184px;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
