.places {
  display: grid;
  gap: 80px;
  grid-template-columns: fit-content;
  justify-items: center;
}

@media screen and (max-width: 1060px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 72px;
  }
}

@media screen and (max-width: 330px) {
  .places {
    gap: 50px;
  }
}
