.page__header {
  margin: 28px 48px 56px;
}

@media screen and (max-width: 1000px) {
  .page__header  {
    margin: 28px 24px 56px;
  }
}

@media screen and (max-width: 400px) {
  .page__header  {
    margin: 16px 16px 48px;
  }
}
