.page__header {
  margin: 28px 48px 56px;
}

 @media screen and (max-width: 1030px) {
  .page__header  {
    margin: 28px 24px 48px;
  }
}

@media screen and (max-width: 1018px) {
  .page__header {
    min-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .page__header {
    min-width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .page__header  {
    margin: 16px 16px 48px;
    min-width: 288px;
  }
}
