.photo-grid__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-items: center;

  width: 92vw;
}
