.header {
  display: flex;
  flex-direction: row;
  min-width: 1184px;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1230px) {
  .header {
    min-width: 928px;
  }
}

@media screen and (max-width: 1018px) {
  .header {
    min-width: 720px;
  }
}

@media screen and (max-width: 319px) {
  .header {
    max-width: 90%;
  }
}
