.header {
  display: flex;
  flex-direction: row;
  max-width: 1184px;
  /* max-height: 52px; */
  /* min-width: 288px; */
  width: 92vw;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: 92.5%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 90%;
  }
}
