.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  max-width: 720px;
  margin: 0 0 32px;
}


@media screen and (max-width: 700px) {
  .lead__title  {
    font-size: 72px;
    max-width: 520px;
  }
}

@media screen and (max-width: 550px) {
  .lead__title  {
    font-size: 50px;
    max-width: 400px;
  }
}


@media screen and (max-width: 450px) {
  .lead__title  {
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 16px;
    max-width: 288px;
  }
}
