.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
