.cover__title {
  font-style: normal;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  max-width: 560px;
  min-height: 70px;
  margin: 0 0 32px;
  padding: 0;
  z-index: 1;
  font-weight: 900;
  color: #FFFFFF;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 38px;
    line-height: 35px;
    max-width: 300px;
  }
}
