.place {
  max-width: 984px;
  /* min-height: 660px; */
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'title website'
    'pic text';

}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
    'title'
    'website'
    'pic'
    'text';
  }
}
