.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 82px);
  align-items: center;
}

@media screen and (max-width: 990px) {
  .footer {
    width: 717px;
  }
}


@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    max-width: 186px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
  max-width: 186px;
  align-items: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .footer {
  max-width: 186px;
  }
}
