.photo-grid__image {
  max-height: 213px;
  box-sizing: border-box;
  display: block;
  font-size: 0;
}

@media screen and (max-width: 1030px) {
  .photo-grid__image {
    max-height: 225px;
  }
}


@media screen and (max-width: 768px) {
  .photo-grid__image {
    max-height: 264px;
  }
}

@media screen and (max-width: 750px) {
  .photo-grid__image {
    max-height: 216px;
  }
}
