.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  min-height: 58px;
  margin: 0 0 40px;
}

@media screen and (max-width: 650px){
  .intro__title {
  font-size: 24px;
  line-height: 35px;
  }
}

@media screen and (max-width: 400px) {
  .intro__title {
    max-width: 240px;
    font-size: 32px;
  }
}
